@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Raleway:wght@100;300;400;500;600&family=Roboto&display=swap');

:root {
  --primary-blue: rgb(70, 116, 241);
  --primary-dark: rgb(51, 51, 51);
  --primary-light: rgb(249, 249, 249);
  --secondary-light: rgba(245, 244, 244, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  line-height: 1;
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

.my-header {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  background: linear-gradient(
    rgba(240, 235, 235, 0.6) 0%,
    rgba(229, 229, 229, 0.6) 100%
  );
  box-shadow: 0 0.5rem 0.2rem rgba(0, 0, 0, 0.15);
}

header h3 {
  margin: 0 auto 0.5rem;
  text-align: center;
  font-size: 1.7em;
  font-family: 'Raleway', sans-serif;
  color: var(--primary-blue);
}

header p {
  margin-bottom: 0.3rem;
  text-align: center;
  font-size: 0.7em;
}

.my-container {
  max-width: 85vw;
}

.row {
  justify-content: space-around;
  margin: 0.3rem 0;
  white-space: pre-wrap;
  /* height: 2.5rem; */
}

.hour {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  /* background: linear-gradient(
    rgba(240, 235, 235, 0.6) 0%,
    rgba(229, 229, 229, 0.6) 100%
  );
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.2rem rgba(0, 0, 0, 0.15); */
}

textarea {
  margin: 0;
  padding: 1rem;
  height: 100%;
  resize: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.2rem rgba(0, 0, 0, 0.15);
}

.saveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-light);
  background: linear-gradient(rgb(59, 86, 238) 0%, var(--primary-blue) 100%);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.2rem rgba(0, 0, 0, 0.15);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.past {
  background-color: rgba(236, 235, 235, 0.7);
}

.present {
  background-color: rgb(255, 105, 97);
}

.future {
  background-color: rgb(119, 221, 119);
}
